/* MyCV.css */
.cv-content {
    text-align: center;
    width: 100%;
    z-index: 10;
}

.cv-download-button {
    background-color: #4a90e2; /* Örnek mavi renk */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 20px; /* İndirme butonu ve resim arasında boşluk bırak */
}

.cv-download-button:hover {
    background-color: #357ABD; /* Koyu mavi renk */
}

.cv-image {
    text-align: center;
    max-width: 100%; /* Tam genişlik */
}

.cv-preview {
    max-width: 600px; /* Resmin maksimum genişliğini sınırla */
    height: auto; /* Resmin yüksekliğini orantılı tut */
    border: 1px solid #ddd; /* Resme hafif bir çerçeve ekle */
    border-radius: 4px; /* Kenarları hafifçe yuvarla */
    padding: 5px; /* Çerçevenin içine biraz boşluk ekle */
    margin-top: 20px; /* Resim ve içerik arasında boşluk bırak */
    display: block; /* Resmi blok elemanı yap */
    margin-left: auto; /* Otomatik sol marj */
    margin-right: auto; /* Otomatik sağ marj */
}
